.map-container {
 max-width: 650px;
    /* margin: 2px auto; */
    /* padding: 9px; */
    background: #f8fbff;
    /* border-radius: 12px; */
    /* box-shadow: 0 2px 6px rgba
#00000014
(0, 0, 0, 0.08); */
    width: 398px;
}
.map-container::-webkit-scrollbar{
  display: none;
}
.map-title {
   text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: white;
       margin-bottom: 7px;
    background-color: #0d6efd;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(176, 199, 255, 0.7);
}

.leaflet-map {
  height: 450px;
  width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
}
@media (max-width: 425px) {

  .map-container {
  
    width: 95%;
}

.leaflet-map {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.map-title {
  
    margin-bottom: 5px;

}
}