.inactive-panel-container {
  /* max-width: 600px; */
  /* margin: 2px auto; */
  padding: 4px;
  /* background: #f9fcff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
}

.panel-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 7px 0;
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid rgba(13, 110, 253, 0.1);
  background: white;
  box-shadow: 0 4px 15px rgba(176, 199, 255, 0.4);
  border-radius: 6px
}

.table-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #e7f1ff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.table-icon-modern {
  font-size: 15px;
  color: #2355f9;
}

.inactive-title {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  color: #555;
}

.inactive-table-wrapper {
  /* Responsive wrapper for inactive panels table */
  flex: 1 1 auto;
  min-height: 0;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}

.inactive-table-wrapper::-webkit-scrollbar {
  display: none;
}



.inactive-table {
  width: 100%;
  border-collapse: collapse;

  background-color: white;
}

.inactive-table th,
.inactive-table td {
  padding: 13px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
  font-weight: 600;
  white-space: pre-wrap;
}

.inactive-table th {
  position: sticky;
  top: 0;
  background: #e7f1ff;
  font-weight: 600;
  z-index: 1;
}

/* Responsive - allow horizontal scroll */
@media (max-width: 767px) {
  .inactive-table-wrapper {
    overflow-x: auto;
  }

  .inactive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    max-height: 35vh;
    /* 👈 viewport height ka 60% */
    min-height: 300px;
  }

  .inactive-table-wrapper {
    min-height: 140px;
    max-height: calc(100vh - 240px);
  }

}


@media (min-width: 768px) and (max-width: 1100px) {
  .inactive-table td {
    padding: 18px 0px 18px 0px;
    text-align: center;
  }

  .inactive-table-wrapper {

    max-height: calc(100vh - 85px);
  }
}